.post {
    background: var(--gray-800);
    border-radius: 8px;
    padding: 2.5rem;
}

.post + .post {
    margin-top: 2rem;
}

.post > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.authorInfo strong {
    display: block;
    line-height: 1.6;
    color: var(--gray-100);
}

.authorInfo span {
    display: block;
    font-size: 0.875rem;
    line-height: 1.6;
    color: var(--gray-400);
}

time {
    font-size: 0.875rem;
    color: var(--gray-400);
}

.content {
    line-height: 1.6;
    color: var(--gray-300);
    margin-top: 1.5rem;
}

.content p {
    margin-top: 1rem;
}

.content a {
    font-weight: 700;
    color: var(--green-500);
    text-decoration: none; 
}

.content a:hover {
    color: var(--green-300);
}

.commentForm {
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-600);
}

.commentForm > strong {
    display: block;
    line-height: 1.6;
    color: var(--gray-100);
}

.commentForm textarea {
    margin-top: 1rem;
    width: 100%;
    min-height: 6rem;
    padding: 1rem;
    background: var(--gray-900);
    color: var(--gray-100);
    line-height: 1.4;
    border: 0;
    border-radius: 8px;
    resize: none;
}

.commentForm textarea::placeholder {
    color: var(--gray-500);
}

.commentForm textarea:focus-within {
    outline: 1px solid var(--green-300);
}

.commentForm textarea:focus-within::placeholder {
    color: var(--gray-300);
}

.commentForm footer {
    visibility: hidden;
    max-height: 0;
}

.commentForm:focus-within footer {
    visibility: visible;
    max-height: none;
}

.commentForm button[type=submit] {
    margin-top: 1rem;
    border: 0;
    padding: 1rem 1.5rem;
    background: var(--green-500);
    color: var(--white);
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.1s, background 0.1s;
}

.commentForm button[type=submit]:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.commentForm button[type=submit]:not(:disabled):hover {
    background: var(--green-300);
}

.commentList {
    margin-top: 2rem;
}
